<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminPartner">
	<!-- start autocreate -->

	<resultMap id="AdminPartnerResult" type="com.ppmg.ei.model.AdminPartnerModel">
		<result column="PARTNER_ID" property="partnerId" jdbcType="VARCHAR" />
		<result column="ADMIN_ID" property="adminId" jdbcType="VARCHAR" />
		<result column="PARTNER_NAME" property="partnerName" jdbcType="VARCHAR" />
		<result column="PARTNER_TYPE" property="partnerType" jdbcType="VARCHAR" />
		<result column="PARTNER_PRO" property="partnerPro" jdbcType="VARCHAR" />
		<result column="PLAN_AMOUNT" property="planAmount" jdbcType="NUMERIC" />
		<result column="PAID_AMOUNT" property="paidAmount" jdbcType="NUMERIC" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
		<result column="SHARE_RATE" property="shareRate" jdbcType="NUMERIC" />
	</resultMap>

	<insert id="insert" parameterType="com.ppmg.ei.model.AdminPartnerModel">
		INSERT INTO BD_T_FUND_ADMIN_PARTNER (PARTNER_ID,ADMIN_ID,PARTNER_NAME,PARTNER_TYPE,PARTNER_PRO,PLAN_AMOUNT,PAID_AMOUNT,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,SHARE_RATE) values(#{partnerId,jdbcType=VARCHAR},#{adminId,jdbcType=VARCHAR},#{partnerName,jdbcType=VARCHAR},#{partnerType,jdbcType=VARCHAR},#{partnerPro,jdbcType=VARCHAR},#{planAmount,jdbcType=NUMERIC},#{paidAmount,jdbcType=NUMERIC},#{createBy,jdbcType=VARCHAR},#{createDt,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDt,jdbcType=TIMESTAMP},#{shareRate,jdbcType=NUMERIC})
	</insert>

	<insert id="insertBatch" parameterType="List">
		INSERT INTO BD_T_FUND_ADMIN_PARTNER (PARTNER_ID,ADMIN_ID,PARTNER_NAME,PARTNER_TYPE,PARTNER_PRO,PLAN_AMOUNT,PAID_AMOUNT,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,SHARE_RATE)
		<foreach collection="list" item="item" index="index" separator="union all">
			( select
				#{item.partnerId,jdbcType=VARCHAR},
				#{item.adminId,jdbcType=VARCHAR},
				#{item.partnerName,jdbcType=VARCHAR},
				#{item.partnerType,jdbcType=VARCHAR},
				#{item.partnerPro,jdbcType=VARCHAR},
				#{item.planAmount,jdbcType=NUMERIC},
				#{item.paidAmount,jdbcType=NUMERIC},
				#{item.createBy,jdbcType=VARCHAR},
				#{item.createDt,jdbcType=TIMESTAMP},
				#{item.updateBy,jdbcType=VARCHAR},
				#{item.updateDt,jdbcType=TIMESTAMP},
				#{item.shareRate,jdbcType=NUMERIC}
		 	from dual)
		</foreach>
	</insert>

	<delete id="deleteById" parameterType="String">
		DELETE FROM  BD_T_FUND_ADMIN_PARTNER WHERE PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletePK" parameterType="com.ppmg.ei.model.AdminPartnerModel">
		DELETE FROM BD_T_FUND_ADMIN_PARTNER
		<where>
			<if test="partnerId != null and partnerId != ''" >
				PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="partnerName != null and partnerName != ''" >
				AND PARTNER_NAME = #{partnerName,jdbcType=VARCHAR}
			</if>
			<if test="partnerType != null and partnerType != ''" >
				AND PARTNER_TYPE = #{partnerType,jdbcType=VARCHAR}
			</if>
			<if test="partnerPro != null and partnerPro != ''" >
				AND PARTNER_PRO = #{partnerPro,jdbcType=VARCHAR}
			</if>
			<if test="planAmount != null and planAmount != ''" >
				AND PLAN_AMOUNT = #{planAmount,jdbcType=NUMERIC}
			</if>
			<if test="paidAmount != null and paidAmount != ''" >
				AND PAID_AMOUNT = #{paidAmount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="shareRate != null and shareRate != ''" >
				AND SHARE_RATE = #{shareRate,jdbcType=NUMERIC}
			</if>
		</where>
	</delete>

	<delete id="deleteBatch" parameterType="List">
		DELETE FROM  BD_T_FUND_ADMIN_PARTNER WHERE PARTNER_ID IN
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updatePK" parameterType="com.ppmg.ei.model.AdminPartnerModel">
		UPDATE BD_T_FUND_ADMIN_PARTNER 
		<set>
			<if test="partnerId != null and partnerId != ''" >
				PARTNER_ID = #{partnerId,jdbcType=VARCHAR},
			</if>
			<if test="adminId != null and adminId != ''" >
				ADMIN_ID = #{adminId,jdbcType=VARCHAR},
			</if>
			<if test="partnerName != null and partnerName != ''" >
				PARTNER_NAME = #{partnerName,jdbcType=VARCHAR},
			</if>
			<if test="partnerType != null and partnerType != ''" >
				PARTNER_TYPE = #{partnerType,jdbcType=VARCHAR},
			</if>
			<if test="partnerPro != null and partnerPro != ''" >
				PARTNER_PRO = #{partnerPro,jdbcType=VARCHAR},
			</if>
			<if test="planAmount != null and planAmount != ''" >
				PLAN_AMOUNT = #{planAmount,jdbcType=NUMERIC},
			</if>
			<if test="paidAmount != null and paidAmount != ''" >
				PAID_AMOUNT = #{paidAmount,jdbcType=NUMERIC},
			</if>
			<if test="createBy != null and createBy != ''" >
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDt != null" >
				CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null and updateBy != ''" >
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDt != null" >
				UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
			</if>
			<if test="shareRate != null and shareRate != ''" >
				SHARE_RATE = #{shareRate,jdbcType=NUMERIC},
			</if>
		</set>
		WHERE PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
	</update>

	<select id="selectById" parameterType="String" resultMap="AdminPartnerResult">
		SELECT * FROM BD_T_FUND_ADMIN_PARTNER WHERE PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
	</select>

	<select id="selectBy" parameterType="com.ppmg.ei.model.AdminPartnerModel" resultMap="AdminPartnerResult">
		SELECT * FROM BD_T_FUND_ADMIN_PARTNER
		<where>
			<if test="partnerId != null and partnerId != ''" >
				PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="partnerName != null and partnerName != ''" >
				AND PARTNER_NAME = #{partnerName,jdbcType=VARCHAR}
			</if>
			<if test="partnerType != null and partnerType != ''" >
				AND PARTNER_TYPE = #{partnerType,jdbcType=VARCHAR}
			</if>
			<if test="partnerPro != null and partnerPro != ''" >
				AND PARTNER_PRO = #{partnerPro,jdbcType=VARCHAR}
			</if>
			<if test="planAmount != null and planAmount != ''" >
				AND PLAN_AMOUNT = #{planAmount,jdbcType=NUMERIC}
			</if>
			<if test="paidAmount != null and paidAmount != ''" >
				AND PAID_AMOUNT = #{paidAmount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="shareRate != null and shareRate != ''" >
				AND SHARE_RATE = #{shareRate,jdbcType=NUMERIC}
			</if>
		</where>
	</select>

	<sql id="searchSql">
		SELECT * FROM BD_T_FUND_ADMIN_PARTNER
		<where>
			<include refid="searchCondition.searchClause" />
		</where>
	</sql>

	<select id="selectListPage" resultMap="AdminPartnerResult" parameterType="com.founder.ssm.core.common.SearchCondition">
				<include refid="searchSql" />
	</select>

	<select id="selectCount" resultType="Integer" parameterType="com.founder.ssm.core.common.SearchCondition">
		SELECT COUNT(*) FROM (
			<include refid="searchSql" />
		) t 
	</select>

	<select id="selectCountBy" resultType="Integer" parameterType="com.ppmg.ei.model.AdminPartnerModel">
		SELECT COUNT(*) FROM BD_T_FUND_ADMIN_PARTNER
		<where>
			<if test="partnerId != null and partnerId != ''" >
				PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="partnerName != null and partnerName != ''" >
				AND PARTNER_NAME = #{partnerName,jdbcType=VARCHAR}
			</if>
			<if test="partnerType != null and partnerType != ''" >
				AND PARTNER_TYPE = #{partnerType,jdbcType=VARCHAR}
			</if>
			<if test="partnerPro != null and partnerPro != ''" >
				AND PARTNER_PRO = #{partnerPro,jdbcType=VARCHAR}
			</if>
			<if test="planAmount != null and planAmount != ''" >
				AND PLAN_AMOUNT = #{planAmount,jdbcType=NUMERIC}
			</if>
			<if test="paidAmount != null and paidAmount != ''" >
				AND PAID_AMOUNT = #{paidAmount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="shareRate != null and shareRate != ''" >
				AND SHARE_RATE = #{shareRate,jdbcType=NUMERIC}
			</if>
		</where>
	</select>

	<select id="selectList" parameterType="com.ppmg.ei.model.AdminPartnerModel" resultMap="AdminPartnerResult">
		SELECT * FROM BD_T_FUND_ADMIN_PARTNER
		<where>
			<if test="partnerId != null and partnerId != ''" >
				PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="partnerName != null and partnerName != ''" >
				AND PARTNER_NAME = #{partnerName,jdbcType=VARCHAR}
			</if>
			<if test="partnerType != null and partnerType != ''" >
				AND PARTNER_TYPE = #{partnerType,jdbcType=VARCHAR}
			</if>
			<if test="partnerPro != null and partnerPro != ''" >
				AND PARTNER_PRO = #{partnerPro,jdbcType=VARCHAR}
			</if>
			<if test="planAmount != null and planAmount != ''" >
				AND PLAN_AMOUNT = #{planAmount,jdbcType=NUMERIC}
			</if>
			<if test="paidAmount != null and paidAmount != ''" >
				AND PAID_AMOUNT = #{paidAmount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="shareRate != null and shareRate != ''" >
				AND SHARE_RATE = #{shareRate,jdbcType=NUMERIC}
			</if>
		</where>
	</select>

	<select id="selectSql2Obj" parameterType="java.lang.String" resultMap="AdminPartnerResult">
		${value}
	</select>
	<select id="selectSql2Map" parameterType="java.lang.String" resultType="Map">
		${value}
	</select>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
	<select id="selectCountSql" parameterType="java.lang.String" resultType="Integer">
		${value}
	</select>
	<delete id="deleteBatchByAdminId" parameterType="List">
		DELETE FROM BD_T_FUND_ADMIN_PARTNER WHERE ADMIN_ID IN
			<foreach collection="list" item="item" open="(" separator="," close=")">
				#{item}
			</foreach>
	</delete>

	<select id="selectListByAdminId" parameterType="com.ppmg.ei.model.AdminSqlModel" resultMap="AdminPartnerResult">
		SELECT *  FROM BD_T_FUND_ADMIN_PARTNER
		<where>
			1 = 1
			<if test="partnerId != null and partnerId != ''" >
				AND PARTNER_ID = #{partnerId,jdbcType=VARCHAR}
			</if>
			<if test="adminIds != null and adminIds.size() > 0" >
				AND ADMIN_ID IN
				<foreach collection="adminIds" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>
	<!-- end autocreate -->
</mapper>
