<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminCore">
	<!-- start autocreate -->

	<resultMap id="AdminCoreResult" type="com.ppmg.ei.model.AdminCoreModel">
		<result column="CORE_ID" property="coreId" jdbcType="VARCHAR" />
		<result column="ADMIN_ID" property="adminId" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="POSITION" property="position" jdbcType="VARCHAR" />
		<result column="COUNTRY" property="country" jdbcType="VARCHAR" />
		<result column="SEX" property="sex" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
		<result column="UNIVERSITY" property="university" jdbcType="VARCHAR" />
		<result column="MAJOR" property="major" jdbcType="VARCHAR" />
		<result column="EDUCATION" property="education" jdbcType="VARCHAR" />
		<result column="PHONE_NO" property="phoneNo" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="ADDR" property="addr" jdbcType="VARCHAR" />
		<result column="PERFORMANCE" property="performance" jdbcType="VARCHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" parameterType="com.ppmg.ei.model.AdminCoreModel">
		INSERT INTO BD_T_FUND_ADMIN_CORE (CORE_ID,ADMIN_ID,NAME,POSITION,COUNTRY,SEX,BIRTHDAY,UNIVERSITY,MAJOR,EDUCATION,PHONE_NO,EMAIL,ADDR,PERFORMANCE,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT) values(#{coreId,jdbcType=VARCHAR},#{adminId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{position,jdbcType=VARCHAR},#{country,jdbcType=VARCHAR},#{sex,jdbcType=VARCHAR},#{birthday,jdbcType=TIMESTAMP},#{university,jdbcType=VARCHAR},#{major,jdbcType=VARCHAR},#{education,jdbcType=VARCHAR},#{phoneNo,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{addr,jdbcType=VARCHAR},#{performance,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDt,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDt,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertBatch" parameterType="List">
		INSERT INTO BD_T_FUND_ADMIN_CORE (CORE_ID,ADMIN_ID,NAME,POSITION,COUNTRY,SEX,BIRTHDAY,UNIVERSITY,MAJOR,EDUCATION,PHONE_NO,EMAIL,ADDR,PERFORMANCE,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT)
		<foreach collection="list" item="item" index="index" separator="union all">
			( select
				#{item.coreId,jdbcType=VARCHAR},
				#{item.adminId,jdbcType=VARCHAR},
				#{item.name,jdbcType=VARCHAR},
				#{item.position,jdbcType=VARCHAR},
				#{item.country,jdbcType=VARCHAR},
				#{item.sex,jdbcType=VARCHAR},
				#{item.birthday,jdbcType=TIMESTAMP},
				#{item.university,jdbcType=VARCHAR},
				#{item.major,jdbcType=VARCHAR},
				#{item.education,jdbcType=VARCHAR},
				#{item.phoneNo,jdbcType=VARCHAR},
				#{item.email,jdbcType=VARCHAR},
				#{item.addr,jdbcType=VARCHAR},
				#{item.performance,jdbcType=VARCHAR},
				#{item.createBy,jdbcType=VARCHAR},
				#{item.createDt,jdbcType=TIMESTAMP},
				#{item.updateBy,jdbcType=VARCHAR},
				#{item.updateDt,jdbcType=TIMESTAMP}
		 	from dual)
		</foreach>
	</insert>

	<delete id="deleteById" parameterType="String">
		DELETE FROM  BD_T_FUND_ADMIN_CORE WHERE CORE_ID = #{coreId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletePK" parameterType="com.ppmg.ei.model.AdminCoreModel">
		DELETE FROM BD_T_FUND_ADMIN_CORE
		<where>
			<if test="coreId != null and coreId != ''" >
				CORE_ID = #{coreId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''" >
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="position != null and position != ''" >
				AND POSITION = #{position,jdbcType=VARCHAR}
			</if>
			<if test="country != null and country != ''" >
				AND COUNTRY = #{country,jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''" >
				AND SEX = #{sex,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null" >
				AND BIRTHDAY = #{birthday,jdbcType=VARCHAR}
			</if>
			<if test="university != null and university != ''" >
				AND UNIVERSITY = #{university,jdbcType=VARCHAR}
			</if>
			<if test="major != null and major != ''" >
				AND MAJOR = #{major,jdbcType=VARCHAR}
			</if>
			<if test="education != null and education != ''" >
				AND EDUCATION = #{education,jdbcType=VARCHAR}
			</if>
			<if test="phoneNo != null and phoneNo != ''" >
				AND PHONE_NO = #{phoneNo,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''" >
				AND EMAIL = #{email,jdbcType=VARCHAR}
			</if>
			<if test="addr != null and addr != ''" >
				AND ADDR = #{addr,jdbcType=VARCHAR}
			</if>
			<if test="performance != null and performance != ''" >
				AND PERFORMANCE = #{performance,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<delete id="deleteBatch" parameterType="List">
		DELETE FROM  BD_T_FUND_ADMIN_CORE WHERE CORE_ID IN
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updatePK" parameterType="com.ppmg.ei.model.AdminCoreModel">
		UPDATE BD_T_FUND_ADMIN_CORE 
		<set>
			<if test="coreId != null and coreId != ''" >
				CORE_ID = #{coreId,jdbcType=VARCHAR},
			</if>
			<if test="adminId != null and adminId != ''" >
				ADMIN_ID = #{adminId,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''" >
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="position != null and position != ''" >
				POSITION = #{position,jdbcType=VARCHAR},
			</if>
			<if test="country != null and country != ''" >
				COUNTRY = #{country,jdbcType=VARCHAR},
			</if>
			<if test="sex != null and sex != ''" >
				SEX = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null" >
				BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="university != null and university != ''" >
				UNIVERSITY = #{university,jdbcType=VARCHAR},
			</if>
			<if test="major != null and major != ''" >
				MAJOR = #{major,jdbcType=VARCHAR},
			</if>
			<if test="education != null and education != ''" >
				EDUCATION = #{education,jdbcType=VARCHAR},
			</if>
			<if test="phoneNo != null and phoneNo != ''" >
				PHONE_NO = #{phoneNo,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email != ''" >
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="addr != null and addr != ''" >
				ADDR = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="performance != null and performance != ''" >
				PERFORMANCE = #{performance,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null and createBy != ''" >
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDt != null" >
				CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null and updateBy != ''" >
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDt != null" >
				UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE CORE_ID = #{coreId,jdbcType=VARCHAR}
	</update>

	<select id="selectById" parameterType="String" resultMap="AdminCoreResult">
		SELECT * FROM BD_T_FUND_ADMIN_CORE WHERE CORE_ID = #{coreId,jdbcType=VARCHAR}
	</select>

	<select id="selectBy" parameterType="com.ppmg.ei.model.AdminCoreModel" resultMap="AdminCoreResult">
		SELECT * FROM BD_T_FUND_ADMIN_CORE
		<where>
			<if test="coreId != null and coreId != ''" >
				CORE_ID = #{coreId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''" >
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="position != null and position != ''" >
				AND POSITION = #{position,jdbcType=VARCHAR}
			</if>
			<if test="country != null and country != ''" >
				AND COUNTRY = #{country,jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''" >
				AND SEX = #{sex,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null" >
				AND BIRTHDAY = #{birthday,jdbcType=VARCHAR}
			</if>
			<if test="university != null and university != ''" >
				AND UNIVERSITY = #{university,jdbcType=VARCHAR}
			</if>
			<if test="major != null and major != ''" >
				AND MAJOR = #{major,jdbcType=VARCHAR}
			</if>
			<if test="education != null and education != ''" >
				AND EDUCATION = #{education,jdbcType=VARCHAR}
			</if>
			<if test="phoneNo != null and phoneNo != ''" >
				AND PHONE_NO = #{phoneNo,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''" >
				AND EMAIL = #{email,jdbcType=VARCHAR}
			</if>
			<if test="addr != null and addr != ''" >
				AND ADDR = #{addr,jdbcType=VARCHAR}
			</if>
			<if test="performance != null and performance != ''" >
				AND PERFORMANCE = #{performance,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<sql id="searchSql">
		SELECT * FROM BD_T_FUND_ADMIN_CORE
		<where>
			<include refid="searchCondition.searchClause" />
		</where>
	</sql>

	<select id="selectListPage" resultMap="AdminCoreResult" parameterType="com.founder.ssm.core.common.SearchCondition">
				<include refid="searchSql" />
	</select>

	<select id="selectCount" resultType="Integer" parameterType="com.founder.ssm.core.common.SearchCondition">
		SELECT COUNT(*) FROM (
			<include refid="searchSql" />
		) t 
	</select>

	<select id="selectCountBy" resultType="Integer" parameterType="com.ppmg.ei.model.AdminCoreModel">
		SELECT COUNT(*) FROM BD_T_FUND_ADMIN_CORE
		<where>
			<if test="coreId != null and coreId != ''" >
				CORE_ID = #{coreId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''" >
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="position != null and position != ''" >
				AND POSITION = #{position,jdbcType=VARCHAR}
			</if>
			<if test="country != null and country != ''" >
				AND COUNTRY = #{country,jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''" >
				AND SEX = #{sex,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null" >
				AND BIRTHDAY = #{birthday,jdbcType=VARCHAR}
			</if>
			<if test="university != null and university != ''" >
				AND UNIVERSITY = #{university,jdbcType=VARCHAR}
			</if>
			<if test="major != null and major != ''" >
				AND MAJOR = #{major,jdbcType=VARCHAR}
			</if>
			<if test="education != null and education != ''" >
				AND EDUCATION = #{education,jdbcType=VARCHAR}
			</if>
			<if test="phoneNo != null and phoneNo != ''" >
				AND PHONE_NO = #{phoneNo,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''" >
				AND EMAIL = #{email,jdbcType=VARCHAR}
			</if>
			<if test="addr != null and addr != ''" >
				AND ADDR = #{addr,jdbcType=VARCHAR}
			</if>
			<if test="performance != null and performance != ''" >
				AND PERFORMANCE = #{performance,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectList" parameterType="com.ppmg.ei.model.AdminCoreModel" resultMap="AdminCoreResult">
		SELECT * FROM BD_T_FUND_ADMIN_CORE
		<where>
			<if test="coreId != null and coreId != ''" >
				CORE_ID = #{coreId,jdbcType=VARCHAR}
			</if>
			<if test="adminId != null and adminId != ''" >
				AND ADMIN_ID = #{adminId,jdbcType=VARCHAR}
			</if>
			<if test="name != null and name != ''" >
				AND NAME = #{name,jdbcType=VARCHAR}
			</if>
			<if test="position != null and position != ''" >
				AND POSITION = #{position,jdbcType=VARCHAR}
			</if>
			<if test="country != null and country != ''" >
				AND COUNTRY = #{country,jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''" >
				AND SEX = #{sex,jdbcType=VARCHAR}
			</if>
			<if test="birthday != null" >
				AND BIRTHDAY = #{birthday,jdbcType=VARCHAR}
			</if>
			<if test="university != null and university != ''" >
				AND UNIVERSITY = #{university,jdbcType=VARCHAR}
			</if>
			<if test="major != null and major != ''" >
				AND MAJOR = #{major,jdbcType=VARCHAR}
			</if>
			<if test="education != null and education != ''" >
				AND EDUCATION = #{education,jdbcType=VARCHAR}
			</if>
			<if test="phoneNo != null and phoneNo != ''" >
				AND PHONE_NO = #{phoneNo,jdbcType=VARCHAR}
			</if>
			<if test="email != null and email != ''" >
				AND EMAIL = #{email,jdbcType=VARCHAR}
			</if>
			<if test="addr != null and addr != ''" >
				AND ADDR = #{addr,jdbcType=VARCHAR}
			</if>
			<if test="performance != null and performance != ''" >
				AND PERFORMANCE = #{performance,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectSql2Obj" parameterType="java.lang.String" resultMap="AdminCoreResult">
		${value}
	</select>
	<select id="selectSql2Map" parameterType="java.lang.String" resultType="Map">
		${value}
	</select>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
	<select id="selectCountSql" parameterType="java.lang.String" resultType="Integer">
		${value}
	</select>
	<!-- end autocreate -->
</mapper>
