<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommTEntLabelItem">
	<!-- start autocreate -->

	<resultMap id="CommTEntLabelItemResult" type="com.ppmg.ei.model.CommTEntLabelItemModel">
		<result column="ENT_ID" property="entId" jdbcType="VARCHAR" />
		<result column="LABEL_ID" property="labelId" jdbcType="VARCHAR" />
		<result column="ITEM_ID" property="itemId" jdbcType="VARCHAR" />
		<result column="LABEL_NAME" property="labelName" jdbcType="VARCHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" parameterType="com.ppmg.ei.model.CommTEntLabelItemModel">
		INSERT INTO BASE.COMM_T_ENT_LABEL_ITEM (ENT_ID,LABEL_ID,ITEM_ID,LABEL_NAME,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT) values(#{entId,jdbcType=VARCHAR},#{labelId,jdbcType=VARCHAR},#{itemId,jdbcType=VARCHAR},#{labelName,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDt,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDt,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertBatch" parameterType="List">
		INSERT INTO BASE.COMM_T_ENT_LABEL_ITEM (ENT_ID,LABEL_ID,ITEM_ID,LABEL_NAME,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT)
		<foreach collection="list" item="item" index="index" separator="union all">
			( select
				#{item.entId,jdbcType=VARCHAR},
				#{item.labelId,jdbcType=VARCHAR},
				#{item.itemId,jdbcType=VARCHAR},
				#{item.labelName,jdbcType=VARCHAR},
				#{item.createBy,jdbcType=VARCHAR},
				#{item.createDt,jdbcType=TIMESTAMP},
				#{item.updateBy,jdbcType=VARCHAR},
				#{item.updateDt,jdbcType=TIMESTAMP}
		 	from dual)
		</foreach>
	</insert>

	<delete id="deleteById" parameterType="String">
		DELETE FROM  BASE.COMM_T_ENT_LABEL_ITEM WHERE ENT_ID = #{entId,jdbcType=VARCHAR} and LABEL_ID= #{labelId,jdbcType=VARCHAR} and ITEM_ID= #{itemId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletePK" parameterType="com.ppmg.ei.model.CommTEntLabelItemModel">
		DELETE FROM BASE.COMM_T_ENT_LABEL_ITEM
		<where>
			<if test="entId != null and entId != ''" >
				ENT_ID = #{entId,jdbcType=VARCHAR}
			</if>
			<if test="labelId != null and labelId != ''" >
				AND LABEL_ID = #{labelId,jdbcType=VARCHAR}
			</if>
			<if test="itemId != null and itemId != ''" >
				AND ITEM_ID = #{itemId,jdbcType=VARCHAR}
			</if>
			<if test="labelName != null and labelName != ''" >
				AND LABEL_NAME = #{labelName,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<delete id="deleteBatch" parameterType="List">
		DELETE FROM  BASE.COMM_T_ENT_LABEL_ITEM WHERE ENT_ID IN
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updatePK" parameterType="com.ppmg.ei.model.CommTEntLabelItemModel">
		UPDATE BASE.COMM_T_ENT_LABEL_ITEM 
		<set>
			<if test="entId != null and entId != ''" >
				ENT_ID = #{entId,jdbcType=VARCHAR},
			</if>
			<if test="labelId != null and labelId != ''" >
				LABEL_ID = #{labelId,jdbcType=VARCHAR},
			</if>
			<if test="itemId != null and itemId != ''" >
				ITEM_ID = #{itemId,jdbcType=VARCHAR},
			</if>
			<if test="labelName != null and labelName != ''" >
				LABEL_NAME = #{labelName,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null and createBy != ''" >
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDt != null" >
				CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null and updateBy != ''" >
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDt != null" >
				UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE ENT_ID = #{entId,jdbcType=VARCHAR} and LABEL_ID= #{labelId,jdbcType=VARCHAR} and ITEM_ID= #{itemId,jdbcType=VARCHAR}
	</update>

	<select id="selectById" parameterType="String" resultMap="CommTEntLabelItemResult">
		SELECT * FROM BASE.COMM_T_ENT_LABEL_ITEM WHERE ENT_ID = #{entId,jdbcType=VARCHAR} and LABEL_ID= #{labelId,jdbcType=VARCHAR} and ITEM_ID= #{itemId,jdbcType=VARCHAR}
	</select>

	<select id="selectBy" parameterType="com.ppmg.ei.model.CommTEntLabelItemModel" resultMap="CommTEntLabelItemResult">
		SELECT * FROM BASE.COMM_T_ENT_LABEL_ITEM
		<where>
			<if test="entId != null and entId != ''" >
				ENT_ID = #{entId,jdbcType=VARCHAR}
			</if>
			<if test="labelId != null and labelId != ''" >
				AND LABEL_ID = #{labelId,jdbcType=VARCHAR}
			</if>
			<if test="itemId != null and itemId != ''" >
				AND ITEM_ID = #{itemId,jdbcType=VARCHAR}
			</if>
			<if test="labelName != null and labelName != ''" >
				AND LABEL_NAME = #{labelName,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<sql id="searchSql">
		SELECT * FROM BASE.COMM_T_ENT_LABEL_ITEM
		<where>
			<include refid="searchCondition.searchClause" />
		</where>
	</sql>

	<select id="selectListPage" resultMap="CommTEntLabelItemResult" parameterType="com.founder.ssm.core.common.SearchCondition">
				<include refid="searchSql" />
	</select>

	<select id="selectCount" resultType="Integer" parameterType="com.founder.ssm.core.common.SearchCondition">
		SELECT COUNT(*) FROM (
			<include refid="searchSql" />
		) t 
	</select>

	<select id="selectCountBy" resultType="Integer" parameterType="com.ppmg.ei.model.CommTEntLabelItemModel">
		SELECT COUNT(*) FROM BASE.COMM_T_ENT_LABEL_ITEM
		<where>
			<if test="entId != null and entId != ''" >
				ENT_ID = #{entId,jdbcType=VARCHAR}
			</if>
			<if test="labelId != null and labelId != ''" >
				AND LABEL_ID = #{labelId,jdbcType=VARCHAR}
			</if>
			<if test="itemId != null and itemId != ''" >
				AND ITEM_ID = #{itemId,jdbcType=VARCHAR}
			</if>
			<if test="labelName != null and labelName != ''" >
				AND LABEL_NAME = #{labelName,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectList" parameterType="com.ppmg.ei.model.CommTEntLabelItemModel" resultMap="CommTEntLabelItemResult">
		SELECT * FROM BASE.COMM_T_ENT_LABEL_ITEM
		<where>
			<if test="entId != null and entId != ''" >
				ENT_ID = #{entId,jdbcType=VARCHAR}
			</if>
			<if test="labelId != null and labelId != ''" >
				AND LABEL_ID = #{labelId,jdbcType=VARCHAR}
			</if>
			<if test="itemId != null and itemId != ''" >
				AND ITEM_ID = #{itemId,jdbcType=VARCHAR}
			</if>
			<if test="labelName != null and labelName != ''" >
				AND LABEL_NAME = #{labelName,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectSql2Obj" parameterType="java.lang.String" resultMap="CommTEntLabelItemResult">
		${value}
	</select>
	<select id="selectSql2Map" parameterType="java.lang.String" resultType="Map">
		${value}
	</select>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
	<select id="selectCountSql" parameterType="java.lang.String" resultType="Integer">
		${value}
	</select>
	<!-- end autocreate -->
</mapper>
