<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DecisionInfo">
	<!-- start autocreate -->

	<resultMap id="DecisionInfoResult" type="com.ppmg.ei.model.DecisionInfoModel">
		<result column="PROJ_ID" property="projId" jdbcType="VARCHAR" />
		<result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="VARCHAR" />
		<result column="DIRECTOR_COUNT" property="directorCount" jdbcType="NUMERIC" />
		<result column="YH_DIRE_COUNT" property="yhDireCount" jdbcType="NUMERIC" />
		<result column="SUPERVISOR_COUNT" property="supervisorCount" jdbcType="NUMERIC" />
		<result column="YH_SUPE_COUNT" property="yhSupeCount" jdbcType="NUMERIC" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
		<result column="PROCESS_INST_ID" property="processInstId" jdbcType="VARCHAR" />
		<result column="PROJ_GUID" property="projGuid" jdbcType="VARCHAR" />
		<result column="DECISION_ATTA" property="decisionAtta" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="com.ppmg.ei.model.DecisionInfoModel">
		INSERT INTO TZ_T_DECISION_INFO (PROJ_ID,ENTERPRISE_ID,DIRECTOR_COUNT,YH_DIRE_COUNT,SUPERVISOR_COUNT,YH_SUPE_COUNT,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,PROCESS_INST_ID,PROJ_GUID,DECISION_ATTA) values(#{projId,jdbcType=VARCHAR},#{enterpriseId,jdbcType=VARCHAR},#{directorCount,jdbcType=NUMERIC},#{yhDireCount,jdbcType=NUMERIC},#{supervisorCount,jdbcType=NUMERIC},#{yhSupeCount,jdbcType=NUMERIC},#{createBy,jdbcType=VARCHAR},#{createDt,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDt,jdbcType=TIMESTAMP},#{processInstId,jdbcType=VARCHAR},#{projGuid,jdbcType=VARCHAR},#{decisionAtta,jdbcType=VARCHAR})
	</insert>

	<insert id="insertBatch" parameterType="List">
		INSERT INTO TZ_T_DECISION_INFO (PROJ_ID,ENTERPRISE_ID,DIRECTOR_COUNT,YH_DIRE_COUNT,SUPERVISOR_COUNT,YH_SUPE_COUNT,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,PROCESS_INST_ID,PROJ_GUID,DECISION_ATTA)
		<foreach collection="list" item="item" index="index" separator="union all">
			( select
				#{item.projId,jdbcType=VARCHAR},
				#{item.enterpriseId,jdbcType=VARCHAR},
				#{item.directorCount,jdbcType=NUMERIC},
				#{item.yhDireCount,jdbcType=NUMERIC},
				#{item.supervisorCount,jdbcType=NUMERIC},
				#{item.yhSupeCount,jdbcType=NUMERIC},
				#{item.createBy,jdbcType=VARCHAR},
				#{item.createDt,jdbcType=TIMESTAMP},
				#{item.updateBy,jdbcType=VARCHAR},
				#{item.updateDt,jdbcType=TIMESTAMP},
				#{item.processInstId,jdbcType=VARCHAR},
				#{item.projGuid,jdbcType=VARCHAR},
				#{item.decisionAtta,jdbcType=VARCHAR}
		 	from dual)
		</foreach>
	</insert>

	<delete id="deleteById" parameterType="String">
		DELETE FROM  TZ_T_DECISION_INFO WHERE PROJ_ID = #{projId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletePK" parameterType="com.ppmg.ei.model.DecisionInfoModel">
		DELETE FROM TZ_T_DECISION_INFO
		<where>
			<if test="projId != null and projId != ''" >
				PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="directorCount != null and directorCount != ''" >
				AND DIRECTOR_COUNT = #{directorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhDireCount != null and yhDireCount != ''" >
				AND YH_DIRE_COUNT = #{yhDireCount,jdbcType=NUMERIC}
			</if>
			<if test="supervisorCount != null and supervisorCount != ''" >
				AND SUPERVISOR_COUNT = #{supervisorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhSupeCount != null and yhSupeCount != ''" >
				AND YH_SUPE_COUNT = #{yhSupeCount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="decisionAtta != null and decisionAtta != ''" >
				AND DECISION_ATTA = #{decisionAtta,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<delete id="deleteBatch" parameterType="List">
		DELETE FROM  TZ_T_DECISION_INFO WHERE PROJ_ID IN
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updatePK" parameterType="com.ppmg.ei.model.DecisionInfoModel">
		UPDATE TZ_T_DECISION_INFO 
		<set>
			<if test="projId != null and projId != ''" >
				PROJ_ID = #{projId,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR},
			</if>
			<if test="directorCount != null and directorCount != ''" >
				DIRECTOR_COUNT = #{directorCount,jdbcType=NUMERIC},
			</if>
			<if test="yhDireCount != null and yhDireCount != ''" >
				YH_DIRE_COUNT = #{yhDireCount,jdbcType=NUMERIC},
			</if>
			<if test="supervisorCount != null and supervisorCount != ''" >
				SUPERVISOR_COUNT = #{supervisorCount,jdbcType=NUMERIC},
			</if>
			<if test="yhSupeCount != null and yhSupeCount != ''" >
				YH_SUPE_COUNT = #{yhSupeCount,jdbcType=NUMERIC},
			</if>
			<if test="createBy != null and createBy != ''" >
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDt != null" >
				CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null and updateBy != ''" >
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDt != null" >
				UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
			</if>
			<if test="processInstId != null and processInstId != ''" >
				PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR},
			</if>
			<if test="projGuid != null and projGuid != ''" >
				PROJ_GUID = #{projGuid,jdbcType=VARCHAR},
			</if>
			<if test="decisionAtta != null and decisionAtta != ''" >
				DECISION_ATTA = #{decisionAtta,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE PROJ_ID = #{projId,jdbcType=VARCHAR}
	</update>

	<select id="selectById" parameterType="String" resultMap="DecisionInfoResult">
		SELECT * FROM TZ_T_DECISION_INFO WHERE PROJ_ID = #{projId,jdbcType=VARCHAR}
	</select>

	<select id="selectBy" parameterType="com.ppmg.ei.model.DecisionInfoModel" resultMap="DecisionInfoResult">
		SELECT * FROM TZ_T_DECISION_INFO
		<where>
			<if test="projId != null and projId != ''" >
				PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="directorCount != null and directorCount != ''" >
				AND DIRECTOR_COUNT = #{directorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhDireCount != null and yhDireCount != ''" >
				AND YH_DIRE_COUNT = #{yhDireCount,jdbcType=NUMERIC}
			</if>
			<if test="supervisorCount != null and supervisorCount != ''" >
				AND SUPERVISOR_COUNT = #{supervisorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhSupeCount != null and yhSupeCount != ''" >
				AND YH_SUPE_COUNT = #{yhSupeCount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="decisionAtta != null and decisionAtta != ''" >
				AND DECISION_ATTA = #{decisionAtta,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<sql id="searchSql">
		SELECT * FROM TZ_T_DECISION_INFO
		<where>
			<include refid="searchCondition.searchClause" />
		</where>
	</sql>

	<select id="selectListPage" resultMap="DecisionInfoResult" parameterType="com.founder.ssm.core.common.SearchCondition">
				<include refid="searchSql" />
	</select>

	<select id="selectCount" resultType="Integer" parameterType="com.founder.ssm.core.common.SearchCondition">
		SELECT COUNT(*) FROM (
			<include refid="searchSql" />
		) t 
	</select>

	<select id="selectCountBy" resultType="Integer" parameterType="com.ppmg.ei.model.DecisionInfoModel">
		SELECT COUNT(*) FROM TZ_T_DECISION_INFO
		<where>
			<if test="projId != null and projId != ''" >
				PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="directorCount != null and directorCount != ''" >
				AND DIRECTOR_COUNT = #{directorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhDireCount != null and yhDireCount != ''" >
				AND YH_DIRE_COUNT = #{yhDireCount,jdbcType=NUMERIC}
			</if>
			<if test="supervisorCount != null and supervisorCount != ''" >
				AND SUPERVISOR_COUNT = #{supervisorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhSupeCount != null and yhSupeCount != ''" >
				AND YH_SUPE_COUNT = #{yhSupeCount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="decisionAtta != null and decisionAtta != ''" >
				AND DECISION_ATTA = #{decisionAtta,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectList" parameterType="com.ppmg.ei.model.DecisionInfoModel" resultMap="DecisionInfoResult">
		SELECT * FROM TZ_T_DECISION_INFO
		<where>
			<if test="projId != null and projId != ''" >
				PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="directorCount != null and directorCount != ''" >
				AND DIRECTOR_COUNT = #{directorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhDireCount != null and yhDireCount != ''" >
				AND YH_DIRE_COUNT = #{yhDireCount,jdbcType=NUMERIC}
			</if>
			<if test="supervisorCount != null and supervisorCount != ''" >
				AND SUPERVISOR_COUNT = #{supervisorCount,jdbcType=NUMERIC}
			</if>
			<if test="yhSupeCount != null and yhSupeCount != ''" >
				AND YH_SUPE_COUNT = #{yhSupeCount,jdbcType=NUMERIC}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="decisionAtta != null and decisionAtta != ''" >
				AND DECISION_ATTA = #{decisionAtta,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectSql2Obj" parameterType="java.lang.String" resultMap="DecisionInfoResult">
		${value}
	</select>
	<select id="selectSql2Map" parameterType="java.lang.String" resultType="Map">
		${value}
	</select>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
	<select id="selectCountSql" parameterType="java.lang.String" resultType="Integer">
		${value}
	</select>
	<!-- end autocreate -->
</mapper>
