<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EntDirectors">
	<!-- start autocreate -->

	<resultMap id="EntDirectorsResult" type="com.ppmg.ei.model.EntDirectorsModel">
		<result column="DIRECTORS_ID" property="directorsId" jdbcType="VARCHAR" />
		<result column="PERSON_ID" property="personId" jdbcType="VARCHAR" />
		<result column="ENTERPRISE_ID" property="enterpriseId" jdbcType="VARCHAR" />
		<result column="JOB" property="job" jdbcType="VARCHAR" />
		<result column="IS_YH" property="isYh" jdbcType="VARCHAR" />
		<result column="PERSON_RATE" property="personRate" jdbcType="NUMERIC" />
		<result column="DELETE_FLAG" property="deleteFlag" jdbcType="VARCHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" parameterType="com.ppmg.ei.model.EntDirectorsModel">
		INSERT INTO MASTER.T_ENT_DIRECTORS (DIRECTORS_ID,PERSON_ID,ENTERPRISE_ID,JOB,IS_YH,PERSON_RATE,DELETE_FLAG,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT) values(#{directorsId,jdbcType=VARCHAR},#{personId,jdbcType=VARCHAR},#{enterpriseId,jdbcType=VARCHAR},#{job,jdbcType=VARCHAR},#{isYh,jdbcType=VARCHAR},#{personRate,jdbcType=NUMERIC},#{deleteFlag,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDt,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDt,jdbcType=TIMESTAMP})
	</insert>

	<insert id="insertBatch" parameterType="List">
		INSERT INTO MASTER.T_ENT_DIRECTORS (DIRECTORS_ID,PERSON_ID,ENTERPRISE_ID,JOB,IS_YH,PERSON_RATE,DELETE_FLAG,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT)
		<foreach collection="list" item="item" index="index" separator="union all">
			( select
				#{item.directorsId,jdbcType=VARCHAR},
				#{item.personId,jdbcType=VARCHAR},
				#{item.enterpriseId,jdbcType=VARCHAR},
				#{item.job,jdbcType=VARCHAR},
				#{item.isYh,jdbcType=VARCHAR},
				#{item.personRate,jdbcType=NUMERIC},
				#{item.deleteFlag,jdbcType=VARCHAR},
				#{item.createBy,jdbcType=VARCHAR},
				#{item.createDt,jdbcType=TIMESTAMP},
				#{item.updateBy,jdbcType=VARCHAR},
				#{item.updateDt,jdbcType=TIMESTAMP}
		 	from dual)
		</foreach>
	</insert>

	<delete id="deleteById" parameterType="String">
		DELETE FROM  MASTER.T_ENT_DIRECTORS WHERE DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletePK" parameterType="com.ppmg.ei.model.EntDirectorsModel">
		DELETE FROM MASTER.T_ENT_DIRECTORS
		<where>
			<if test="directorsId != null and directorsId != ''" >
				DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR}
			</if>
			<if test="personId != null and personId != ''" >
				AND PERSON_ID = #{personId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="job != null and job != ''" >
				AND JOB = #{job,jdbcType=VARCHAR}
			</if>
			<if test="isYh != null and isYh != ''" >
				AND IS_YH = #{isYh,jdbcType=VARCHAR}
			</if>
			<if test="personRate != null and personRate != ''" >
				AND PERSON_RATE = #{personRate,jdbcType=NUMERIC}
			</if>
			<if test="deleteFlag != null and deleteFlag != ''" >
				AND DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<delete id="deleteBatch" parameterType="List">
		DELETE FROM  MASTER.T_ENT_DIRECTORS WHERE DIRECTORS_ID IN
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updatePK" parameterType="com.ppmg.ei.model.EntDirectorsModel">
		UPDATE MASTER.T_ENT_DIRECTORS
		<set>
			<if test="directorsId != null and directorsId != ''" >
				DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR},
			</if>
			<if test="personId != null and personId != ''" >
				PERSON_ID = #{personId,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR},
			</if>
			<if test="job != null and job != ''" >
				JOB = #{job,jdbcType=VARCHAR},
			</if>
			<if test="isYh != null and isYh != ''" >
				IS_YH = #{isYh,jdbcType=VARCHAR},
			</if>
			<if test="personRate != null and personRate != ''" >
				PERSON_RATE = #{personRate,jdbcType=NUMERIC},
			</if>
			<if test="deleteFlag != null and deleteFlag != ''" >
				DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null and createBy != ''" >
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDt != null" >
				CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null and updateBy != ''" >
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDt != null" >
				UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
			</if>
		</set>
		WHERE DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR}
	</update>

	<select id="selectById" parameterType="String" resultMap="EntDirectorsResult">
		SELECT * FROM MASTER.T_ENT_DIRECTORS WHERE DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR}
	</select>

	<select id="selectBy" parameterType="com.ppmg.ei.model.EntDirectorsModel" resultMap="EntDirectorsResult">
		SELECT * FROM MASTER.T_ENT_DIRECTORS
		<where>
			<if test="directorsId != null and directorsId != ''" >
				DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR}
			</if>
			<if test="personId != null and personId != ''" >
				AND PERSON_ID = #{personId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="job != null and job != ''" >
				AND JOB = #{job,jdbcType=VARCHAR}
			</if>
			<if test="isYh != null and isYh != ''" >
				AND IS_YH = #{isYh,jdbcType=VARCHAR}
			</if>
			<if test="personRate != null and personRate != ''" >
				AND PERSON_RATE = #{personRate,jdbcType=NUMERIC}
			</if>
			<if test="deleteFlag != null and deleteFlag != ''" >
				AND DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<sql id="searchSql">
		SELECT * FROM MASTER.T_ENT_DIRECTORS
		<where>
			<include refid="searchCondition.searchClause" />
		</where>
	</sql>

	<select id="selectListPage" resultMap="EntDirectorsResult" parameterType="com.founder.ssm.core.common.SearchCondition">
				<include refid="searchSql" />
	</select>

	<select id="selectCount" resultType="Integer" parameterType="com.founder.ssm.core.common.SearchCondition">
		SELECT COUNT(*) FROM (
			<include refid="searchSql" />
		) t 
	</select>

	<select id="selectCountBy" resultType="Integer" parameterType="com.ppmg.ei.model.EntDirectorsModel">
		SELECT COUNT(*) FROM MASTER.T_ENT_DIRECTORS
		<where>
			<if test="directorsId != null and directorsId != ''" >
				DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR}
			</if>
			<if test="personId != null and personId != ''" >
				AND PERSON_ID = #{personId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="job != null and job != ''" >
				AND JOB = #{job,jdbcType=VARCHAR}
			</if>
			<if test="isYh != null and isYh != ''" >
				AND IS_YH = #{isYh,jdbcType=VARCHAR}
			</if>
			<if test="personRate != null and personRate != ''" >
				AND PERSON_RATE = #{personRate,jdbcType=NUMERIC}
			</if>
			<if test="deleteFlag != null and deleteFlag != ''" >
				AND DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectList" parameterType="com.ppmg.ei.model.EntDirectorsModel" resultMap="EntDirectorsResult">
		SELECT * FROM MASTER.T_ENT_DIRECTORS
		<where>
			<if test="directorsId != null and directorsId != ''" >
				DIRECTORS_ID = #{directorsId,jdbcType=VARCHAR}
			</if>
			<if test="personId != null and personId != ''" >
				AND PERSON_ID = #{personId,jdbcType=VARCHAR}
			</if>
			<if test="enterpriseId != null and enterpriseId != ''" >
				AND ENTERPRISE_ID = #{enterpriseId,jdbcType=VARCHAR}
			</if>
			<if test="job != null and job != ''" >
				AND JOB = #{job,jdbcType=VARCHAR}
			</if>
			<if test="isYh != null and isYh != ''" >
				AND IS_YH = #{isYh,jdbcType=VARCHAR}
			</if>
			<if test="personRate != null and personRate != ''" >
				AND PERSON_RATE = #{personRate,jdbcType=NUMERIC}
			</if>
			<if test="deleteFlag != null and deleteFlag != ''" >
				AND DELETE_FLAG = #{deleteFlag,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectSql2Obj" parameterType="java.lang.String" resultMap="EntDirectorsResult">
		${value}
	</select>
	<select id="selectSql2Map" parameterType="java.lang.String" resultType="Map">
		${value}
	</select>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
	<select id="selectCountSql" parameterType="java.lang.String" resultType="Integer">
		${value}
	</select>
	<!-- end autocreate -->
</mapper>
