<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjBackMoneySettle">
	<!-- start autocreate -->

	<resultMap id="ProjBackMoneySettleResult" type="com.ppmg.ei.model.ProjBackMoneySettleModel">
		<result column="SETTLE_ID" property="settleId" jdbcType="VARCHAR" />
		<result column="PROJ_ID" property="projId" jdbcType="VARCHAR" />
		<result column="APP_ID" property="appId" jdbcType="VARCHAR" />
		<result column="SETTLE_TYPE" property="settleType" jdbcType="VARCHAR" />
		<result column="FILE_ID" property="fileId" jdbcType="VARCHAR" />
		<result column="MEETING_ID" property="meetingId" jdbcType="VARCHAR" />
		<result column="RAISE_AMOUNT" property="raiseAmount" jdbcType="NUMERIC" />
		<result column="CURRENT_AMOUNT" property="currentAmount" jdbcType="NUMERIC" />
		<result column="ATTA_FILE" property="attaFile" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
		<result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR" />
		<result column="ACCOUNTS" property="accounts" jdbcType="VARCHAR" />
		<result column="OPEN_BANK" property="openBank" jdbcType="VARCHAR" />
		<result column="BIZ_AMT" property="bizAmt" jdbcType="NUMERIC" />
		<result column="BIZ_DATE" property="bizDate" jdbcType="TIMESTAMP" />
		<result column="PROCESS_INST_ID" property="processInstId" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="com.ppmg.ei.model.ProjBackMoneySettleModel">
		INSERT INTO TZ_T_PROJ_BACK_MONEY_SETTLE (SETTLE_ID,PROJ_ID,APP_ID,SETTLE_TYPE,FILE_ID,MEETING_ID,RAISE_AMOUNT,CURRENT_AMOUNT,ATTA_FILE,STATUS,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,ACCOUNT_NAME,ACCOUNTS,OPEN_BANK,BIZ_AMT,BIZ_DATE,PROCESS_INST_ID)
		values(#{settleId,jdbcType=VARCHAR},#{projId,jdbcType=VARCHAR},#{appId,jdbcType=VARCHAR},#{settleType,jdbcType=VARCHAR},#{fileId,jdbcType=VARCHAR},#{meetingId,jdbcType=VARCHAR},#{raiseAmount,jdbcType=NUMERIC},#{currentAmount,jdbcType=NUMERIC},
		#{attaFile,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDt,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},
		#{updateDt,jdbcType=TIMESTAMP},#{accountName,jdbcType=VARCHAR},#{accounts,jdbcType=VARCHAR},#{openBank,jdbcType=VARCHAR},#{bizAmt,jdbcType=NUMERIC},
		#{bizDate,jdbcType=TIMESTAMP},#{processInstId,jdbcType=VARCHAR})
	</insert>

	<insert id="insertBatch" parameterType="List">
		INSERT INTO TZ_T_PROJ_BACK_MONEY_SETTLE (SETTLE_ID,PROJ_ID,APP_ID,SETTLE_TYPE,FILE_ID,MEETING_ID,RAISE_AMOUNT,CURRENT_AMOUNT,ATTA_FILE,STATUS,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,ACCOUNT_NAME,ACCOUNTS,OPEN_BANK,BIZ_AMT,BIZ_DATE,PROCESS_INST_ID)
		<foreach collection="list" item="item" index="index" separator="union all">
			( select
			#{item.settleId,jdbcType=VARCHAR},
			#{item.projId,jdbcType=VARCHAR},
			#{item.appId,jdbcType=VARCHAR},
			#{item.settleType,jdbcType=VARCHAR},
			#{item.fileId,jdbcType=VARCHAR},
			#{item.meetingId,jdbcType=VARCHAR},
			#{item.raiseAmount,jdbcType=NUMERIC},
			#{item.currentAmount,jdbcType=NUMERIC},
			#{item.attaFile,jdbcType=VARCHAR},
			#{item.status,jdbcType=VARCHAR},
			#{item.createBy,jdbcType=VARCHAR},
			#{item.createDt,jdbcType=TIMESTAMP},
			#{item.updateBy,jdbcType=VARCHAR},
			#{item.updateDt,jdbcType=TIMESTAMP},
			#{item.accountName,jdbcType=VARCHAR},
			#{item.accounts,jdbcType=VARCHAR},
			#{item.openBank,jdbcType=VARCHAR},
			#{item.bizAmt,jdbcType=NUMERIC},
			#{item.bizDate,jdbcType=TIMESTAMP},
			#{item.processInstId,jdbcType=VARCHAR}
			from dual)
		</foreach>
	</insert>

	<delete id="deleteById" parameterType="String">
		DELETE FROM  TZ_T_PROJ_BACK_MONEY_SETTLE WHERE SETTLE_ID = #{settleId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletePK" parameterType="com.ppmg.ei.model.ProjBackMoneySettleModel">
		DELETE FROM TZ_T_PROJ_BACK_MONEY_SETTLE
		<where>
			<if test="settleId != null and settleId != ''" >
				SETTLE_ID = #{settleId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="appId != null and appId != ''" >
				AND APP_ID = #{appId,jdbcType=VARCHAR}
			</if>
			<if test="settleType != null and settleType != ''" >
				AND SETTLE_TYPE = #{settleType,jdbcType=VARCHAR}
			</if>
			<if test="fileId != null and fileId != ''" >
				AND FILE_ID = #{fileId,jdbcType=VARCHAR}
			</if>
			<if test="meetingId != null and meetingId != ''" >
				AND MEETING_ID = #{meetingId,jdbcType=VARCHAR}
			</if>
			<if test="raiseAmount != null and raiseAmount != ''" >
				AND RAISE_AMOUNT = #{raiseAmount,jdbcType=NUMERIC}
			</if>
			<if test="currentAmount != null and currentAmount != ''" >
				AND CURRENT_AMOUNT = #{currentAmount,jdbcType=NUMERIC}
			</if>
			<if test="attaFile != null and attaFile != ''" >
				AND ATTA_FILE = #{attaFile,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''" >
				AND STATUS = #{status,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="accountName != null and accountName != ''" >
				AND ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR}
			</if>
			<if test="accounts != null and accounts != ''" >
				AND ACCOUNTS = #{accounts,jdbcType=VARCHAR}
			</if>
			<if test="openBank != null and openBank != ''" >
				AND OPEN_BANK = #{openBank,jdbcType=VARCHAR}
			</if>
			<if test="bizAmt != null and bizAmt != ''" >
				AND BIZ_AMT = #{bizAmt,jdbcType=NUMERIC}
			</if>
			<if test="bizDate != null" >
				AND BIZ_DATE = #{bizDate,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<delete id="deleteBatch" parameterType="List">
		DELETE FROM  TZ_T_PROJ_BACK_MONEY_SETTLE WHERE SETTLE_ID IN
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updatePK" parameterType="com.ppmg.ei.model.ProjBackMoneySettleModel">
		UPDATE TZ_T_PROJ_BACK_MONEY_SETTLE
		<set>
			<if test="settleId != null and settleId != ''" >
				SETTLE_ID = #{settleId,jdbcType=VARCHAR},
			</if>
			<if test="projId != null and projId != ''" >
				PROJ_ID = #{projId,jdbcType=VARCHAR},
			</if>
			<if test="appId != null and appId != ''" >
				APP_ID = #{appId,jdbcType=VARCHAR},
			</if>
			<if test="settleType != null and settleType != ''" >
				SETTLE_TYPE = #{settleType,jdbcType=VARCHAR},
			</if>
			<if test="fileId != null and fileId != ''" >
				FILE_ID = #{fileId,jdbcType=VARCHAR},
			</if>
			<if test="meetingId != null and meetingId != ''" >
				MEETING_ID = #{meetingId,jdbcType=VARCHAR},
			</if>
			<if test="raiseAmount != null and raiseAmount != ''" >
				RAISE_AMOUNT = #{raiseAmount,jdbcType=NUMERIC},
			</if>
			<if test="currentAmount != null and currentAmount != ''" >
				CURRENT_AMOUNT = #{currentAmount,jdbcType=NUMERIC},
			</if>
			<!--<if test="attaFile != null and attaFile != ''" >-->
				ATTA_FILE = #{attaFile,jdbcType=VARCHAR},
			<!--</if>-->
			<if test="status != null and status != ''" >
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null and createBy != ''" >
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDt != null" >
				CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null and updateBy != ''" >
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDt != null" >
				UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
			</if>
			<if test="accountName != null and accountName != ''" >
				ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
			</if>
			<if test="accounts != null and accounts != ''" >
				ACCOUNTS = #{accounts,jdbcType=VARCHAR},
			</if>
			<if test="openBank != null and openBank != ''" >
				OPEN_BANK = #{openBank,jdbcType=VARCHAR},
			</if>
			<if test="bizAmt != null and bizAmt != ''" >
				BIZ_AMT = #{bizAmt,jdbcType=NUMERIC},
			</if>
			<if test="bizDate != null" >
				BIZ_DATE = #{bizDate,jdbcType=TIMESTAMP},
			</if>
			<if test="processInstId != null and processInstId != ''" >
				PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE SETTLE_ID = #{settleId,jdbcType=VARCHAR}
	</update>

	<select id="selectById" parameterType="String" resultMap="ProjBackMoneySettleResult">
		SELECT * FROM TZ_T_PROJ_BACK_MONEY_SETTLE WHERE SETTLE_ID = #{settleId,jdbcType=VARCHAR}
	</select>

	<select id="selectBy" parameterType="com.ppmg.ei.model.ProjBackMoneySettleModel" resultMap="ProjBackMoneySettleResult">
		SELECT * FROM TZ_T_PROJ_BACK_MONEY_SETTLE
		<where>
			<if test="settleId != null and settleId != ''" >
				SETTLE_ID = #{settleId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="appId != null and appId != ''" >
				AND APP_ID = #{appId,jdbcType=VARCHAR}
			</if>
			<if test="settleType != null and settleType != ''" >
				AND SETTLE_TYPE = #{settleType,jdbcType=VARCHAR}
			</if>
			<if test="fileId != null and fileId != ''" >
				AND FILE_ID = #{fileId,jdbcType=VARCHAR}
			</if>
			<if test="meetingId != null and meetingId != ''" >
				AND MEETING_ID = #{meetingId,jdbcType=VARCHAR}
			</if>
			<if test="raiseAmount != null and raiseAmount != ''" >
				AND RAISE_AMOUNT = #{raiseAmount,jdbcType=NUMERIC}
			</if>
			<if test="currentAmount != null and currentAmount != ''" >
				AND CURRENT_AMOUNT = #{currentAmount,jdbcType=NUMERIC}
			</if>
			<if test="attaFile != null and attaFile != ''" >
				AND ATTA_FILE = #{attaFile,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''" >
				AND STATUS = #{status,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="accountName != null and accountName != ''" >
				AND ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR}
			</if>
			<if test="accounts != null and accounts != ''" >
				AND ACCOUNTS = #{accounts,jdbcType=VARCHAR}
			</if>
			<if test="openBank != null and openBank != ''" >
				AND OPEN_BANK = #{openBank,jdbcType=VARCHAR}
			</if>
			<if test="bizAmt != null and bizAmt != ''" >
				AND BIZ_AMT = #{bizAmt,jdbcType=NUMERIC}
			</if>
			<if test="bizDate != null" >
				AND BIZ_DATE = #{bizDate,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<sql id="searchSql">
		SELECT * FROM TZ_T_PROJ_BACK_MONEY_SETTLE
		<where>
			<include refid="searchCondition.searchClause" />
		</where>
		ORDER BY update_dt DESC
	</sql>

	<select id="selectListPage" resultMap="ProjBackMoneySettleResult" parameterType="com.founder.ssm.core.common.SearchCondition">
		<include refid="searchSql" />
	</select>

	<select id="selectCount" resultType="Integer" parameterType="com.founder.ssm.core.common.SearchCondition">
		SELECT COUNT(*) FROM (
		<include refid="searchSql" />
		) t
	</select>

	<select id="selectCountBy" resultType="Integer" parameterType="com.ppmg.ei.model.ProjBackMoneySettleModel">
		SELECT COUNT(*) FROM TZ_T_PROJ_BACK_MONEY_SETTLE
		<where>
			<if test="settleId != null and settleId != ''" >
				SETTLE_ID = #{settleId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="appId != null and appId != ''" >
				AND APP_ID = #{appId,jdbcType=VARCHAR}
			</if>
			<if test="settleType != null and settleType != ''" >
				AND SETTLE_TYPE = #{settleType,jdbcType=VARCHAR}
			</if>
			<if test="fileId != null and fileId != ''" >
				AND FILE_ID = #{fileId,jdbcType=VARCHAR}
			</if>
			<if test="meetingId != null and meetingId != ''" >
				AND MEETING_ID = #{meetingId,jdbcType=VARCHAR}
			</if>
			<if test="raiseAmount != null and raiseAmount != ''" >
				AND RAISE_AMOUNT = #{raiseAmount,jdbcType=NUMERIC}
			</if>
			<if test="currentAmount != null and currentAmount != ''" >
				AND CURRENT_AMOUNT = #{currentAmount,jdbcType=NUMERIC}
			</if>
			<if test="attaFile != null and attaFile != ''" >
				AND ATTA_FILE = #{attaFile,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''" >
				AND STATUS = #{status,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="accountName != null and accountName != ''" >
				AND ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR}
			</if>
			<if test="accounts != null and accounts != ''" >
				AND ACCOUNTS = #{accounts,jdbcType=VARCHAR}
			</if>
			<if test="openBank != null and openBank != ''" >
				AND OPEN_BANK = #{openBank,jdbcType=VARCHAR}
			</if>
			<if test="bizAmt != null and bizAmt != ''" >
				AND BIZ_AMT = #{bizAmt,jdbcType=NUMERIC}
			</if>
			<if test="bizDate != null" >
				AND BIZ_DATE = #{bizDate,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectList" parameterType="com.ppmg.ei.model.ProjBackMoneySettleModel" resultMap="ProjBackMoneySettleResult">
		SELECT * FROM TZ_T_PROJ_BACK_MONEY_SETTLE
		<where>
			<if test="settleId != null and settleId != ''" >
				SETTLE_ID = #{settleId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="appId != null and appId != ''" >
				AND APP_ID = #{appId,jdbcType=VARCHAR}
			</if>
			<if test="settleType != null and settleType != ''" >
				AND SETTLE_TYPE = #{settleType,jdbcType=VARCHAR}
			</if>
			<if test="fileId != null and fileId != ''" >
				AND FILE_ID = #{fileId,jdbcType=VARCHAR}
			</if>
			<if test="meetingId != null and meetingId != ''" >
				AND MEETING_ID = #{meetingId,jdbcType=VARCHAR}
			</if>
			<if test="raiseAmount != null and raiseAmount != ''" >
				AND RAISE_AMOUNT = #{raiseAmount,jdbcType=NUMERIC}
			</if>
			<if test="currentAmount != null and currentAmount != ''" >
				AND CURRENT_AMOUNT = #{currentAmount,jdbcType=NUMERIC}
			</if>
			<if test="attaFile != null and attaFile != ''" >
				AND ATTA_FILE = #{attaFile,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''" >
				AND STATUS = #{status,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="accountName != null and accountName != ''" >
				AND ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR}
			</if>
			<if test="accounts != null and accounts != ''" >
				AND ACCOUNTS = #{accounts,jdbcType=VARCHAR}
			</if>
			<if test="openBank != null and openBank != ''" >
				AND OPEN_BANK = #{openBank,jdbcType=VARCHAR}
			</if>
			<if test="bizAmt != null and bizAmt != ''" >
				AND BIZ_AMT = #{bizAmt,jdbcType=NUMERIC}
			</if>
			<if test="bizDate != null" >
				AND BIZ_DATE = #{bizDate,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectSql2Obj" parameterType="java.lang.String" resultMap="ProjBackMoneySettleResult">
		${value}
	</select>
	<select id="selectSql2Map" parameterType="java.lang.String" resultType="Map">
		${value}
	</select>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
	<select id="selectCountSql" parameterType="java.lang.String" resultType="Integer">
		${value}
	</select>
	<select id="ProjBackMoneySettleModelMapper" parameterType="String" resultMap="ProjBackMoneySettleResult">
		SELECT * FROM TZ_T_PROJ_BACK_MONEY_SETTLE WHERE APP_ID = #{appId,jdbcType=VARCHAR}
	</select>
	<!-- end autocreate -->

	<select id="sumBackMoney" parameterType="String" resultType="Map" >
		 SELECT sum(RAISE_AMOUNT) as SUM_RAISE_AMOUNT,sum(CURRENT_AMOUNT) AS SUM_CURRENT_AMOUNT  FROM TZ_T_PROJ_BACK_MONEY_SETTLE
		 where status='2' and proj_id=#{projId}
	</select>
</mapper>
