<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProjMember">
	<!-- start autocreate -->

	<resultMap id="ProjMemberResult" type="com.ppmg.ei.model.ProjMemberModel">
		<result column="PK_ID" property="pkId" jdbcType="VARCHAR" />
		<result column="PROJ_ID" property="projId" jdbcType="VARCHAR" />
		<result column="MEMBER_ID" property="memberId" jdbcType="VARCHAR" />
		<result column="MEMBER_NAME" property="memberName" jdbcType="VARCHAR" />
		<result column="IS_PM" property="isPm" jdbcType="VARCHAR" />
		<result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
		<result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
		<result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
		<result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
		<result column="PROJ_GUID" property="projGuid" jdbcType="VARCHAR" />
		<result column="APPROVE_STATUS" property="approveStatus" jdbcType="VARCHAR" />
		<result column="IS_GROUP" property="isGroup" jdbcType="VARCHAR" />
		<result column="PROCESS_INST_ID" property="processInstId" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="com.ppmg.ei.model.ProjMemberModel">
		INSERT INTO TZ_T_PROJ_MEMBER (PK_ID,PROJ_ID,MEMBER_ID,MEMBER_NAME,IS_PM,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,PROJ_GUID,APPROVE_STATUS,IS_GROUP,PROCESS_INST_ID) values(#{pkId,jdbcType=VARCHAR},#{projId,jdbcType=VARCHAR},#{memberId,jdbcType=VARCHAR},#{memberName,jdbcType=VARCHAR},#{isPm,jdbcType=VARCHAR},#{createBy,jdbcType=VARCHAR},#{createDt,jdbcType=TIMESTAMP},#{updateBy,jdbcType=VARCHAR},#{updateDt,jdbcType=TIMESTAMP},#{projGuid,jdbcType=VARCHAR},#{approveStatus,jdbcType=VARCHAR},#{isGroup,jdbcType=VARCHAR},#{processInstId,jdbcType=VARCHAR})
	</insert>

	<insert id="insertBatch" parameterType="List">
		INSERT INTO TZ_T_PROJ_MEMBER (PK_ID,PROJ_ID,MEMBER_ID,MEMBER_NAME,IS_PM,CREATE_BY,CREATE_DT,UPDATE_BY,UPDATE_DT,PROJ_GUID,APPROVE_STATUS,IS_GROUP,PROCESS_INST_ID)
		<foreach collection="list" item="item" index="index" separator="union all">
			( select
				#{item.pkId,jdbcType=VARCHAR},
				#{item.projId,jdbcType=VARCHAR},
				#{item.memberId,jdbcType=VARCHAR},
				#{item.memberName,jdbcType=VARCHAR},
				#{item.isPm,jdbcType=VARCHAR},
				#{item.createBy,jdbcType=VARCHAR},
				#{item.createDt,jdbcType=TIMESTAMP},
				#{item.updateBy,jdbcType=VARCHAR},
				#{item.updateDt,jdbcType=TIMESTAMP},
				#{item.projGuid,jdbcType=VARCHAR},
				#{item.approveStatus,jdbcType=VARCHAR},
				#{item.isGroup,jdbcType=VARCHAR},
				#{item.processInstId,jdbcType=VARCHAR}
		 	from dual)
		</foreach>
	</insert>

	<delete id="deleteById" parameterType="String">
		DELETE FROM  TZ_T_PROJ_MEMBER WHERE PK_ID = #{pkId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletcProjIdMapper" parameterType="String">
		DELETE FROM  TZ_T_PROJ_MEMBER WHERE PROJ_ID = #{projId,jdbcType=VARCHAR}
	</delete>

	<delete id="deletePK" parameterType="com.ppmg.ei.model.ProjMemberModel">
		DELETE FROM TZ_T_PROJ_MEMBER
		<where>
			<if test="pkId != null and pkId != ''" >
				PK_ID = #{pkId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="memberId != null and memberId != ''" >
				AND MEMBER_ID = #{memberId,jdbcType=VARCHAR}
			</if>
			<if test="memberName != null and memberName != ''" >
				AND MEMBER_NAME = #{memberName,jdbcType=VARCHAR}
			</if>
			<if test="isPm != null and isPm != ''" >
				AND IS_PM = #{isPm,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="approveStatus != null and approveStatus != ''" >
				AND APPROVE_STATUS = #{approveStatus,jdbcType=VARCHAR}
			</if>
			<if test="isGroup != null and isGroup != ''" >
				AND IS_GROUP = #{isGroup,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>

	<delete id="deleteBatch" parameterType="List">
		DELETE FROM  TZ_T_PROJ_MEMBER WHERE PK_ID IN
		<foreach collection="array" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>

	<update id="updatePK" parameterType="com.ppmg.ei.model.ProjMemberModel">
		UPDATE TZ_T_PROJ_MEMBER 
		<set>
			<if test="pkId != null and pkId != ''" >
				PK_ID = #{pkId,jdbcType=VARCHAR},
			</if>
			<if test="projId != null and projId != ''" >
				PROJ_ID = #{projId,jdbcType=VARCHAR},
			</if>
			<if test="memberId != null and memberId != ''" >
				MEMBER_ID = #{memberId,jdbcType=VARCHAR},
			</if>
			<if test="memberName != null and memberName != ''" >
				MEMBER_NAME = #{memberName,jdbcType=VARCHAR},
			</if>
			<if test="isPm != null and isPm != ''" >
				IS_PM = #{isPm,jdbcType=VARCHAR},
			</if>
			<if test="createBy != null and createBy != ''" >
				CREATE_BY = #{createBy,jdbcType=VARCHAR},
			</if>
			<if test="createDt != null" >
				CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null and updateBy != ''" >
				UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
			</if>
			<if test="updateDt != null" >
				UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
			</if>
			<if test="projGuid != null and projGuid != ''" >
				PROJ_GUID = #{projGuid,jdbcType=VARCHAR},
			</if>
			<if test="approveStatus != null and approveStatus != ''" >
				APPROVE_STATUS = #{approveStatus,jdbcType=VARCHAR},
			</if>
			<if test="isGroup != null and isGroup != ''" >
				IS_GROUP = #{isGroup,jdbcType=VARCHAR},
			</if>
			<if test="processInstId != null and processInstId != ''" >
				PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR},
			</if>
		</set>
		WHERE PK_ID = #{pkId,jdbcType=VARCHAR}
	</update>

	<select id="selectById" parameterType="String" resultMap="ProjMemberResult">
		SELECT * FROM TZ_T_PROJ_MEMBER WHERE PK_ID = #{pkId,jdbcType=VARCHAR}
	</select>

	<select id="selectBy" parameterType="com.ppmg.ei.model.ProjMemberModel" resultMap="ProjMemberResult">
		SELECT * FROM TZ_T_PROJ_MEMBER
		<where>
			<if test="pkId != null and pkId != ''" >
				PK_ID = #{pkId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="memberId != null and memberId != ''" >
				AND MEMBER_ID = #{memberId,jdbcType=VARCHAR}
			</if>
			<if test="memberName != null and memberName != ''" >
				AND MEMBER_NAME = #{memberName,jdbcType=VARCHAR}
			</if>
			<if test="isPm != null and isPm != ''" >
				AND IS_PM = #{isPm,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="approveStatus != null and approveStatus != ''" >
				AND APPROVE_STATUS = #{approveStatus,jdbcType=VARCHAR}
			</if>
			<if test="isGroup != null and isGroup != ''" >
				AND IS_GROUP = #{isGroup,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<sql id="searchSql">
		SELECT * FROM TZ_T_PROJ_MEMBER
		<where>
			<include refid="searchCondition.searchClause" />
		</where>
	</sql>

	<select id="selectListPage" resultMap="ProjMemberResult" parameterType="com.founder.ssm.core.common.SearchCondition">
				<include refid="searchSql" />
	</select>

	<select id="selectCount" resultType="Integer" parameterType="com.founder.ssm.core.common.SearchCondition">
		SELECT COUNT(*) FROM (
			<include refid="searchSql" />
		) t 
	</select>

	<select id="selectCountBy" resultType="Integer" parameterType="com.ppmg.ei.model.ProjMemberModel">
		SELECT COUNT(*) FROM TZ_T_PROJ_MEMBER
		<where>
			<if test="pkId != null and pkId != ''" >
				PK_ID = #{pkId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="memberId != null and memberId != ''" >
				AND MEMBER_ID = #{memberId,jdbcType=VARCHAR}
			</if>
			<if test="memberName != null and memberName != ''" >
				AND MEMBER_NAME = #{memberName,jdbcType=VARCHAR}
			</if>
			<if test="isPm != null and isPm != ''" >
				AND IS_PM = #{isPm,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="approveStatus != null and approveStatus != ''" >
				AND APPROVE_STATUS = #{approveStatus,jdbcType=VARCHAR}
			</if>
			<if test="isGroup != null and isGroup != ''" >
				AND IS_GROUP = #{isGroup,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectList" parameterType="com.ppmg.ei.model.ProjMemberModel" resultMap="ProjMemberResult">
		SELECT * FROM TZ_T_PROJ_MEMBER
		<where>
			<if test="pkId != null and pkId != ''" >
				PK_ID = #{pkId,jdbcType=VARCHAR}
			</if>
			<if test="projId != null and projId != ''" >
				AND PROJ_ID = #{projId,jdbcType=VARCHAR}
			</if>
			<if test="memberId != null and memberId != ''" >
				AND MEMBER_ID = #{memberId,jdbcType=VARCHAR}
			</if>
			<if test="memberName != null and memberName != ''" >
				AND MEMBER_NAME = #{memberName,jdbcType=VARCHAR}
			</if>
			<if test="isPm != null and isPm != ''" >
				AND IS_PM = #{isPm,jdbcType=VARCHAR}
			</if>
			<if test="createBy != null and createBy != ''" >
				AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
			</if>
			<if test="createDt != null" >
				AND CREATE_DT = #{createDt,jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null and updateBy != ''" >
				AND UPDATE_BY = #{updateBy,jdbcType=VARCHAR}
			</if>
			<if test="updateDt != null" >
				AND UPDATE_DT = #{updateDt,jdbcType=VARCHAR}
			</if>
			<if test="projGuid != null and projGuid != ''" >
				AND PROJ_GUID = #{projGuid,jdbcType=VARCHAR}
			</if>
			<if test="approveStatus != null and approveStatus != ''" >
				AND APPROVE_STATUS = #{approveStatus,jdbcType=VARCHAR}
			</if>
			<if test="isGroup != null and isGroup != ''" >
				AND IS_GROUP = #{isGroup,jdbcType=VARCHAR}
			</if>
			<if test="processInstId != null and processInstId != ''" >
				AND PROCESS_INST_ID = #{processInstId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectSql2Obj" parameterType="java.lang.String" resultMap="ProjMemberResult">
		${value}
	</select>
	<select id="selectSql2Map" parameterType="java.lang.String" resultType="Map">
		${value}
	</select>
	<update id="updateSql" parameterType="java.lang.String">
		${value}
	</update>
	<select id="selectCountSql" parameterType="java.lang.String" resultType="Integer">
		${value}
	</select>
	<!-- end autocreate -->
	<!--新增-->
	<select id="selectListMapper" parameterType="String" resultMap="ProjMemberResult">
		SELECT * FROM TZ_T_PROJ_MEMBER WHERE PROJ_ID = #{projId,jdbcType=VARCHAR}
	</select>
    <select id="seleByName" parameterType="java.lang.String" resultType="Map">
       		select cc.MEMBER_NAME as memberName1,bb.memberName as memberName0,ee.MEMBER_NAME as  memberName2,cc.MEMBER_ID as memberId1,bb. memberId0,ee.MEMBER_ID as memberId2 from TZ_T_PROJ_MEMBER cc
			left join
		    (select aa.proj_id, TO_CHAR(WMSYS.WM_CONCAT(aa.MEMBER_NAME)) as memberName, TO_CHAR(WMSYS.WM_CONCAT(aa.MEMBER_ID)) memberId0   from TZ_T_PROJ_MEMBER  aa where  is_pm='0' and proj_id=#{projId}
			GROUP BY aa.proj_id)bb on bb.proj_id=cc.proj_id
             left join
			(select dd.proj_id,dd.MEMBER_NAME,dd.MEMBER_ID from TZ_T_PROJ_MEMBER dd where  is_pm='2' and proj_id=#{projId})ee on ee.proj_id=cc.proj_id
			 where
			 cc.is_pm='1' and cc.proj_id=#{projId}

	</select>

</mapper>
